/* src/components/Footer.css */
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: down;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }