/* Footer.css */
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: static;
  margin-top: auto;
  padding:1em;
}


.footer p {
  margin: 0;
  
}
