/* ProductList.css */

.product-list-container {
  display: flex;
  padding: 20px;
  background-color: #FAFAF5;
}

.search-column {
  width: 300px;
  position: sticky;
  top: 20px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  padding-right: 20px;
}

.products-column {
  flex: 1;
  padding-left: 20px;
}

.product-list-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.search-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-form .btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.search-form .btn-primary:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.producto-card .btn-view-details {
  background-color: #343a40;
  border-color: #343a40;
}

.producto-card .btn-view-details:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.card-price {
  font-size: 1.2rem;
  color: #343a40; /* Cambiar el color del precio */
}

.card-category {
  font-size: 1rem;
  color: #666;
}