/* postList.css */

/* Spinner */
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card Styling */
.post-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px; /* Añadir margen inferior para separar las tarjetas */
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card .card-title {
  font-size: 1.3rem;
  color: #333;
}

.post-card .card-text {
  color: #666;
}

.post-card .btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.post-card .btn-primary:hover {
  background-color: #0056b3;
}

/* Container */
.post-list-container {
  margin-top: 3rem;
  padding: 0 2rem; /* Añadir padding para que las tarjetas no estén pegadas a los bordes */
  display: flex;
  justify-content: center;
}

/* Row */
.row {
  width: 100%;
  max-width: 800px; /* Ajustar el ancho máximo de las tarjetas */
  margin: 0 auto; /* Centrar las tarjetas horizontalmente */
}

.small-alert {
  font-size: 0.875rem; /* Ajusta el tamaño de la fuente */
  padding: 0.5rem; /* Ajusta el padding */
}