.home-container {
  padding: 40px 20px;
  font-family: 'Arial, sans-serif';
  background-color: #FAFAF5;
}

.home-section {
  margin-bottom: 60px;
}

.home-section h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.home-section h2 a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-section h2 a:hover {
  color: #007BFF;
}

.home-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.home-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.home-card:hover {
  transform: translateY(-10px);
}

.home-card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.home-card h3 {
  margin-bottom: 10px;
  color: #555;
}

.home-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.home-card span {
  display: block;
  font-weight: bold;
  color: #333;
}

.home-logo-image {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.home-jumbotron {
  background-color: #343a40;
  color: #fff;
  padding: 60px 0;
  border-radius: 15px;
  margin-bottom: 40px;
height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-jumbotron h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.home-jumbotron p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.home-logo-container {
  text-align: center;
  margin-bottom: 60px;
}

