.register-container {
    display: flex;
    height: 100vh;
    background-color: #FAFAF5;
  }
  
  .register-content {
    display: flex;
    margin: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #FAFAF5;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .register-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
  }
  
  .register-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .register-form-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .register-form .form-group {
    margin-bottom: 1rem;
  }
  
  .register-form .btn-block {
    width: 100%;
    margin-top: 1rem;
  }
  